@charset "UTF-8";
body{
    background-color: rgb(182, 232, 252);
}
header{
    background-color: blue;
    color: white;
font-size: 110%;
border: 0%;
margin: 0%;
padding: 1%;
}
nav{
    background-color: rgb(182, 232, 252);
    color :blue;
    font-size: 20px;
}
aside {
    text-align: center;
font-size: 25px;
height: 100px;

}
button{
    background-color: blue;
    
}
table{
    width: 70%;
    border-collapse: collapse;
    float:right ;
    margin-right: 10%;

}
table tr{
    text-align:center;
   background-color: rgb(123, 223, 253);
   border: 2px blue solid;

}
table td{
    text-align:center;
    border: 2px blue solid;
    padding-top: 5px;
    padding-bottom: 5px;
}
table th {
    border: 2px blue solid;
    background-color: blue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
tbody .corNao{
    background-color:rgb(123, 223, 253);
}